html{
  scroll-behavior: smooth;
}
body{
  background:#dfdfdf;
}
.card img{
    height:200px;   
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
footer{
  padding:10px;
  text-align:center;
}
.jumbotron{
  border-radius:0;
}
#intro{
  border-radius: 0;
  background:url(images/sea.jpg);
  background-size:cover;
  height:100vh;
}
#intro .container{
  padding:20px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  border-radius:5px;
}

#about, #projects{
  border-bottom:1px solid #999;
}

#btt{
  background:#222;
  border-radius:50%;
  height:45px;
  width:45px;
  overflow:hidden;
  text-align:center;
  position:fixed;
  bottom:1.6%;
  right:1.6%;
  display:none;
}
#btt i{
  margin-top:4px;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }