:root{
  --accent-color:#4A4B02;
  --primary-color:#A56C47;
  --secondary-color:#888;
  --dark:#333;
}

html{
  scroll-behavior: smooth;
}
body{
  background:#dfdfdf;
}

#intro{
  border-radius: 0;
  background:url(images/amsterdam.jpg);
  background-size:cover;
  height:100vh;
}
#introTxt{
  padding:23px;
  background-color: rgba(255, 255, 255, 0.80);
  border-radius:5px;
  backdrop-filter: blur(10px);
}
.navigation{
  display:flex;
  justify-content:center;
}
.nav-btn{
  color:initial;
  background:rgba(187, 203, 204, 0.4);
  padding:.5rem 1.3rem;
  border-radius:0px;
  transition:background 200ms ease-in;
}
.nav-btn:hover{
  color:initial;
  text-decoration: none;
  background:rgba(194, 210, 232, 0.10);
}

.skills{
  background-color:white;
  padding-bottom:2rem;
}
.skills .container{
  display:flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content:space-around;
}
.skills .col{
  display:flex;
  flex-direction: column;
  align-items:center;
}
.skills p{
  margin-bottom:0;
}
#about{
  padding-top:4rem;
  padding-bottom:1rem;
}

#projects{
  background-color:#343A40;
  background-color: rgba(255, 255, 255, 0.80);
}
#btt{
  background:#222;
  border-radius:50%;
  height:45px;
  width:45px;
  overflow:hidden;
  text-align:center;
  position:fixed;
  bottom:1.6%;
  right:1.6%;
  display:none;
}
#btt i{
  padding-top:5px;
}

.card-img{
  object-fit:cover;
  height:100%;
  width:100%;
  border-radius:6px;
  /*border:2px solid var(--dark);*/
}
.card{
  overflow:hidden;
  background:inherit;
  border:0;
  border-bottom:2px solid var(--secondary-color);
  padding:50px 0;
  border-radius:0;
}
.card:last-child{
  border:0;
}
.card-body{
  padding:30px;
}
.js{
  color:#E9D54D;
}
.css{
  color:#1A70B5;
}
.html{
  color:#DD4C25;
}
.bootstrap{
  color:#563D7C;
}
.react{
  color:#00D8FF;
}
.sass{
  color:#CD6799;
}
.col{
  padding:2px 5px;
}
footer{
  padding:10px;
  text-align:center;
  background:rgba(194, 210, 232, 0.50);
}
.jumbotron{
  border-radius:0;
}
.italic{
  font-style:italic;
}
.uppercase{
  text-transform:uppercase;
}


@media (max-width: 990px) {
  .card-img{
    height:100%;
  }
  #intro{
    background-position:left;
  }
}
@media(max-height:350px){
  #intro{
    height:auto;
  }
}
