:root{
  --primary-color:#A56C47;
}

html{
  scroll-behavior: smooth;
}
body{
  background:#dfdfdf;
}
.card-img{
  object-fit:contain;
  height:100%;
  width:100%;
}
.card{
  overflow:hidden;
  background:inherit;
  border:0;
  border-bottom:2px solid var(--primary-color);
  padding:50px 0;
  border-radius:0;
}
.card:last-child{
  border:0;
}
.card-body{
  padding:30px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
footer{
  padding:10px;
  text-align:center;
}
.jumbotron{
  border-radius:0;
}
#intro{
  border-radius: 0;
  background:url(images/amsterdam.jpg);
  background-size:cover;
  height:100vh;
}
#introTxt{
  padding:20px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius:5px;
  backdrop-filter: blur(10px);
}

#about, #projects{
  border-bottom:1px solid #999;
}

#btt{
  background:#222;
  border-radius:50%;
  height:45px;
  width:45px;
  overflow:hidden;
  text-align:center;
  position:fixed;
  bottom:1.6%;
  right:1.6%;
  display:none;
}
#btt i{
  margin-top:4px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (max-width: 990px) {
  .card-img{
    height:100%;
    object-fit:cover;
  }
}