html, body{
    height:100%;
}
p{
    font-size:17px;
}
.cover{
    background:#222 url('../img/money.jpg') center center no-repeat;
    background-size:cover;
    color:white;
    height:100%;
    text-align:center;
    align-items:center;
    display:flex;
}
.cover-caption{
    width:100%;
}
.sticky-top{
    position:sticky;
    top:0;
}
.car{
    height:100vh;
    object-fit:cover;
}
.carousel-item img{
    object-fit:cover;
    height:100vh;
}
.carousel-item{
    height:100vh;
    object-fit:cover;
}
.services{
    width:100%;
    text-align:center;
    background-size:cover;
    height:100%;
    align-items:center;
    display:flex;
}
.card-img{
    height:100%;
    object-fit:cover;
}
.card-body{
    height:100%;
    color:initial;
}
.overons{
    width:100%;
    text-align:center;
    color:white;
    background: url('../img/team.jpg') center center no-repeat;
    background-size:cover;
    height:100%;
    display:flex;
    align-items:center;
}
.fscreen{
    width:100%;
    text-align:center;
    color:white;
    background: url('../img/stars.jpg') center center no-repeat;
    padding-bottom:80px;
    background-size:cover;
    height:120%;
    display:flex;
    align-items:center;
}
.fscreen .card-img-top{
    height:200px;
}
.contactons{
    width:100%;
    text-align:center;
    color:#222;
    background:#f4f4f4;
    background-size:cover;
    height:100%;
    display:flex;
    align-items:center;
}
.fscreen ul{
    text-align:left;
}
@media(max-width:800px){
    .fscreen ul{
        list-style: none;
    }
}
@media(max-width:630px){
    .cover-caption{
        margin-top:40px;
    }
    .overons, .cover, .services{
        height:2050px;
    }
    .cover{
        height:900px;
    }
    .services{
        height:1900px;
    }
    .fscreen{
        height:2200px;
        padding-top:0px;
    }
    .card-img{
        height:200px;   
    }
    .contactons input{
        margin-top:10px;
    }
}
@media(max-height:670px){
    p{
        font-size:14px;
    }
    h1{
        font-size:2.2rem;
    }
    .card-img-top{
        height:180px;
    }
    .services{
        height:140%;
    }
    .fscreen{
        height:170%;
    }
    .contactons{
        height:110%;
    }
}