body{
	margin:0;
	padding:0;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
}
a{
	color:white;
	text-decoration: none;
}
.header{
	width:100%;
	margin:auto;
	background:rgb(122, 0, 0);
	height:50px;
}

.container{
	width:1150px;
	margin:0 auto;	
}

.clear{
	clear:both;
}

.ben{
	color:#990000;
	font-weight: bold;
	font-size:2em;
	padding:2px 5px;
	margin:3px;
	background:white;
}
.logo{
	float:left;
	width:120px;
	padding-top:8px;
	padding-right:5px;
	padding-bottom:1px;
	border-right:1px solid #990000;
}
.signin{
	float:left;
	font-weight:bold;
	padding:13px;
	padding-top:11px;
	padding-left:20px;
	padding-right:80px;
	border-right:1px solid #990000;
	padding-bottom:15px;
}
.signin img{
	position:relative;
	padding-right:4px;
	top:4px;
}
.signin:hover{
	padding-bottom:11px;
	border-bottom:4px solid white;		
}

.navbar ul{
	float:left;
	list-style: none;
	display: inline;
	margin:0;
	padding:0;
}
.navbar li{
	font-weight:bold;
	padding:14px 20px 18px 20px;
	display: inline;
	border-right:1px solid #990000;
	float:left;
}
.navbar li:hover{
	padding-bottom:14px;
	border-bottom:4px solid white;
}

.searchbar{
	float:left;
	padding:11px;
	border-right:1px solid #990000;
}
.searchbar input{
	padding-left:10px;
	height:20px;
	width:200px;
	background-image: url(images/search.png);
	background-size:20px;
	background-repeat: no-repeat;
	background-position: center right;
}



.header2{
	width:100%;
	margin:auto;
	background:#9A0002;
	background-repeat: no-repeat;
	background-position:right;
	height:110px;
}

.intro p{
	font-size:50px;
	padding:15px 0;
	margin:0;
	float:left;
}

.small{
	padding:0 5px;
	font-size:30px;
}

.rss{
	float:right;
	margin-top:60px;
}
.rss:hover{
	border-bottom:2px solid white;
}
.rss img{
	padding-left:3px;
	height:14px;
}


.navbar2{
	background:#3D0B0D;
	float:left;
	width:1125px;
	padding:0 10px;
}

.navbar2 ul{
	margin:0;
	padding:10px 0;
	
}
.navbar2 li{

	display:inline;
	padding:10px 8px;
	padding-bottom:10px;
	font-size:14px;
}

.navbar2 li:hover{
	background:white;
	color:grey;
	font-weight:bold;
}
.navbar2 a{
	border-right:1px solid #990000;
}

.removeborder a{
	border-right:none;
}

.time-date{
	padding:25px 0;
	color:black;
}

.article{
	color:black;
	float:left;
	width:70%;
	text-align:justify;
	font-size:16px;
	line-height:30px;
	word-spacing:1.5px;
	padding-right:0px;
	margin-right:40px;
	box-sizing:border-box;
	border-bottom:1px solid grey;

}
.article img{
	float:left;
	width:430px;
	padding-right:30px;
}
.links a{
	color:blue;
	font-weight:bold;
}
.links a:hover{
	text-decoration: underline;
}
.links img{
	height:20px;
	width:30px;
}

.latestnews{
	color:black;
	float:right;
	width:25%;
	margin-top:25px;

	padding:20px;

	background:#EDEDED;
	box-sizing:border-box;
}
.latestnews h2{
	margin-top:0;
	margin-bottom:0;
}
.latestnews ul{
	padding:0;
	margin:0;
}
.latestnews li{
	list-style:none;
	padding:25px 0;
	line-height:22px;
}
.latestnews img{
	float:left;
	padding:0 10px;
	height:70px;
	width:90px;
}
.latestnews a{
	color:black;
}
.latestnews li:hover{
	font-weight:bold;
}


.mostpopular{
	color:black;
	float:right;
	width:25%;
	margin-top:25px;

	padding:20px;

	background:#EDEDED;
	box-sizing:border-box;
}
.mostpopular ul{
	margin:0;
	padding:0;
}
.mostpopular h2{
	margin-top:0;
}
.mostpopular li{
	list-style:none;
	padding:15px 0;
	line-height:20px;
}
.mostpopular a{
	color:blue;
	font-weight:bold;
}
.mostpopular li:hover{
	text-decoration:underline;
}